package $!{basePackage}.service;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.lhd.qd.base.QdBaseService;
import $!{basePackage}.model.dto.$!{entity}PageQuery;
import $!{basePackage}.model.dto.$!{entity}SaveDto;
import $!{basePackage}.model.entity.$!{entity}Do;
import $!{basePackage}.model.vo.$!{entity}DetailVo;
import $!{basePackage}.model.vo.$!{entity}ListVo;

import java.util.List;

/**
 * <p>
 * $!{table.comment} 服务
 * </p>
 *
 * @author $!{author}
 * @since $!{date}
 */
public interface $!{entity}Service extends QdBaseService<$!{entity}Do> {

    /**
     * $!{table.comment}分页列表
     * @param query
     * @return
     */
    IPage<$!{entity}ListVo> page$!{entity}($!{entity}PageQuery query);

    /**
     * $!{table.comment}详情
     * @param id
     * @return
     */
    $!{entity}DetailVo get$!{entity}ById(Long id);

    /**
     * 新增$!{table.comment}
     * @param saveDto
     */
    void save$!{entity}($!{entity}SaveDto saveDto);

    /**
     * 修改$!{table.comment}
     * @param id
     * @param saveDto
     */
    void update$!{entity}(Long id, $!{entity}SaveDto saveDto);

    /**
     * 删除$!{table.comment}
     * @param id
     */
    void remove$!{entity}(Long id);

    /**
     * 批量删除$!{table.comment}
     * @param idList
     */
    void batchRemove$!{entity}(List<Long> idList);
}
