package $!{cfg.basePackage}.model.dto;

import com.lhd.qd.base.QdBasePageQuery;
import io.swagger.annotations.ApiModel;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;

/**
 * @author $!{author}
 * @since $!{date}
 */
@Setter
@Getter
@ToString(callSuper = true)
@ApiModel(value = "$!{table.comment}分页查询对象")
public class $!{entity}PageQuery extends QdBasePageQuery {

}
