package $!{basePackage}.model.dto;

import com.lhd.qd.base.QdBasePageQuery;
import io.swagger.annotations.ApiModel;
import lombok.Data;

/**
 * @author $!{author}
 * @since $!{date}
 */
@Data
@ApiModel(value = "$!{table.comment}分页查询对象")
public class $!{entity}PageQuery extends QdBasePageQuery {

}
