package $!{basePackage}.model.vo;

#foreach($pkg in ${table.importPackages})
import ${pkg};
#end
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

/**
 * @author $!{author}
 * @since $!{date}
 */
@Data
@ApiModel(value = "$!{table.comment}详情视图对象")
public class $!{entity}DetailVo {

#foreach($field in ${table.fields})
    #if(${logicDeleteFieldName} != ${field.propertyName})
    @ApiModelProperty(value = "$!{field.comment}")
    private $!{field.propertyType} $!{field.propertyName};
    #end
#end
}
