package $!{basePackage}.model.converter;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import $!{basePackage}.model.dto.$!{entity}SaveDto;
import $!{basePackage}.model.entity.$!{entity}Do;
import $!{basePackage}.model.vo.$!{entity}DetailVo;
import $!{basePackage}.model.vo.$!{entity}ListVo;
import org.mapstruct.BeanMapping;
import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;

/**
 * @author $!{author}
 * @since $!{date}
 */
@Mapper
public interface $!{entity}Converter {

    $!{entity}Converter INSTANCE = Mappers.getMapper($!{entity}Converter.class);

    /**
     * do分页集合 转换为 列表vo分页集合
     * @param doPage
     * @return
     */
    Page<$!{entity}ListVo> doPage2ListVoPage(IPage<$!{entity}Do> doPage);

    /**
     * do 转换为 列表vo
     * @param dataObj
     * @return
     */
    $!{entity}ListVo do2ListVo($!{entity}Do dataObj);

    /**
     * do 转换为 详情vo
     * @param dataObj
     * @return
     */
    $!{entity}DetailVo do2DetailVo($!{entity}Do dataObj);

    /**
     * 新增dto 转换为 do
     * @param saveDto
     * @return
     */
    $!{entity}Do saveDto2Do($!{entity}SaveDto saveDto);
}
