package $!{basePackage}.service.impl;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.lhd.qd.base.QdBaseServiceImpl;
import $!{basePackage}.dao.$!{entity}Mapper;
import $!{basePackage}.model.converter.$!{entity}Converter;
import $!{basePackage}.model.dto.$!{entity}PageQuery;
import $!{basePackage}.model.dto.$!{entity}SaveDto;
import $!{basePackage}.model.entity.$!{entity}Do;
import $!{basePackage}.model.vo.$!{entity}DetailVo;
import $!{basePackage}.model.vo.$!{entity}ListVo;
import $!{basePackage}.service.$!{entity}Service;
import org.springframework.stereotype.Service;

import java.util.List;

/**
 * <p>
 * $!{table.comment} 服务实现
 * </p>
 *
 * @author $!{author}
 * @since $!{date}
 */
@Service
public class $!{entity}ServiceImpl extends QdBaseServiceImpl<$!{entity}Mapper, $!{entity}Do> implements $!{entity}Service {

    @Override
    public IPage<$!{entity}ListVo> page$!{entity}($!{entity}PageQuery query) {

        IPage<$!{entity}Do> doPage = this.page(new Page<>(query.getPage(), query.getSize()),
                Wrappers.<$!{entity}Do>lambdaQuery());

        return $!{entity}Converter.INSTANCE.doPage2ListVoPage(doPage);
    }

    @Override
    public $!{entity}DetailVo get$!{entity}ById(Long id) {

        $!{entity}Do dataObj = getById(id);

        return $!{entity}Converter.INSTANCE.do2DetailVo(dataObj);
    }

    @Override
    public void save$!{entity}($!{entity}SaveDto saveDto) {

        $!{entity}Do dataObj = $!{entity}Converter.INSTANCE.saveDto2Do(saveDto);
        save(dataObj);
    }

    @Override
    public void update$!{entity}(Long id, $!{entity}SaveDto saveDto) {

        $!{entity}Do dataObj = $!{entity}Converter.INSTANCE.saveDto2Do(saveDto);
        dataObj.setId(id);
        updateById(dataObj);
    }

    @Override
    public void remove$!{entity}(Long id) {

        $!{entity}Do dataObj = new $!{entity}Do();
        dataObj.setId(id);
        removeByIdWithFill(dataObj);
    }

    @Override
    public void batchRemove$!{entity}(List<Long> idList) {

        removeByIdsWithFill(new $!{entity}Do(), idList);
    }
}
