package $!{basePackage}.model.entity;

#foreach($pkg in ${table.importPackages})
import ${pkg};
#end
#if(${isExtendsBaseDo})
import com.lhd.qd.base.QdBaseDo;
#end
import lombok.Data;

/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
#if(${table.convert})
@TableName("${table.name}")
#end
#if(${isExtendsBaseDo})
public class $!{entity}Do extends QdBaseDo {
#else
public class $!{entity}Do {
#end
#foreach($field in ${table.fields})
#if(${isExtendsBaseDo} && ${baseDoFieldList.contains($field.propertyName)})
#else
#if(${field.keyFlag})
    #set($keyPropertyName=${field.propertyName})
#end
#if("$!field.comment" != "")
    /**
     * ${field.comment}
     */
#end
#if(${field.keyFlag})
#if(${field.keyIdentityFlag})
    @TableId(value = "${field.annotationColumnName}", type = IdType.AUTO)
#elseif(!$null.isNull(${idType}) && "$!idType" != "")
    @TableId(value = "${field.annotationColumnName}", type = IdType.${idType})
#elseif(${field.convert})
    @TableId("${field.annotationColumnName}")
#end
#elseif(${field.fill})
#if(${field.convert})
    @TableField(value = "${field.annotationColumnName}", fill = FieldFill.${field.fill})
#else
    @TableField(fill = FieldFill.${field.fill})
#end
#elseif(${field.convert})
    @TableField("${field.annotationColumnName}")
#end
#if(${field.logicDeleteField})
    @TableLogic
#end
    private ${field.propertyType} ${field.propertyName};
#end
#end
}


