package $!{basePackage}.dao;

import com.lhd.qd.base.QdBaseMapper;
import $!{basePackage}.model.entity.$!{entity}Do;

/**
 * <p>
 * $!{table.comment} 数据访问
 * </p>
 *
 * @author $!{author}
 * @since $!{date}
 */
public interface $!{entity}Mapper extends QdBaseMapper<$!{entity}Do> {

}
